version: "3.8"

services:
  backend:
    build: ./backend
    container_name: doc-finder-backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend/doc-finder-frontend
    container_name: doc-finder-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:8080
    depends_on:
      - backend
